
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Access Crtl</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="inicio">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="usuarios">Usuarios</a>
      <a class="nav-item nav-link" href="articles">Articulos</a>
      <a class="nav-item nav-link disabled" href="#">Administración</a>
    </div>

  </div>
    <a class="btn btn-primary" data-placement="left"
        href="login" data-trigger="hover focus"
        data-toggle="popover"
        data-content="Inicie sesión para visualizar todas las operaciones disponibles">Iniciar sesión</a>
</nav>
